body {
	background-color: #E6E6E6;
}

#root {
	width: 90%;
	height: auto;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-bottom: 20px;
	border-radius: 25px;
	border-top-right-radius: 0px;
	min-width: 450px;
	overflow: hidden;
	box-shadow: 10px 13px 4px 0px rgba(0,0,0,0.75);
}

/*********************
 *  Menuebar-Section
 *********************/

#menuebar {
	background-color: #848484;
	height: auto;
	padding-left: 5%;
	width: 95%;
	border-bottom: 3px solid black;
	border-top-left-radius: 25px;
	overflow: hidden;
}

#menuebar ul {

	list-style-type: none;
	display: inline;
	margin-left: 40px;
}

#menuebar ul li {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 10px;
	font-size: 30px;
	padding-bottom: 4px;
	float: left;
}

#menuebar ul li a {
	text-decoration: none;
	color: #000000;
}

@media screen and (min-width: 981px) {
	#menuebar ul li:hover {
		font-size: 30px;
		color: white;
		text-decoration: underline;
	}
}


@media screen and (max-width: 980px) {
	#menuebar ul li {
		float: none;
	}
}


@media handheld {
	#menuebar ul li {
		float: none;
	}
}

/*********************
 *  Welcome-Page (+ login)
 *********************/
 
#welcometext {
	float: left;
	clear: both;
	text-align: left;
	margin-top: 20px;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
} 
 
#login {
	float: right;
	clear: both;
	margin-top: 20px;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
}

#loginform table td {
	text-align: left;
}

#loginform .loginfield {
	width: 200px;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	box-shadow: inset -11px 13px 18px -14px rgba(0,0,0,0.69);
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 30px;
}

#loginform .loginbutton {
	float: left;
	width: 180px;
	font-size: 20px;
	border: 1px solid black;
	box-shadow: inset -11px 13px 18px -14px rgba(0,0,0,0.69);
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
}

@media screen and (max-width: 980px) {
	#login {
		float: none;
	}
}


@media handheld {
	#login {
		float: none;
		
	}
}

/********************
 *  Download Page
 ********************/
 
#downloadmain {
	margin-top: 20px;
	width: 90%;
	margin: 0 auto; 
}